<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="server" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%5level] %date [%thread] %logger{10} [%file : %line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/server-%d.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="application" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%5level] %date [%thread] %logger{10} [%file : %line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/application-%d.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="hibernate" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%5level] %date [%thread] %logger{10} [%file : %line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/hibernate-%d.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="db_migration" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%5level] %date [%thread] %logger{10} [%file : %line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/db_migration-%d.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="utilits" additivity="false">
        <appender-ref ref="application"/>
    </logger>

    <logger name="org.hibernate" additivity="false">
        <appender-ref ref="hibernate"/>
    </logger>

    <logger name="com.googlecode.flyway" additivity="false">
        <appender-ref ref="db_migrations"/>
    </logger>

    <root level="debug">
        <appender-ref ref="server"/>
    </root>
</configuration>