<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="server" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%5level] %date [%thread] %logger{10} [%file : %line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ipstore.logs.dir:-../logs}/%d{yyyyMMdd}_server.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="application" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%5level] %date [%thread] %logger{10} [%file : %line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ipstore.logs.dir:-../logs}/%d{yyyyMMdd}_application.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="hibernate" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%5level] %date [%thread] %logger{10} [%file : %line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ipstore.logs.dir:-../logs}/%d{yyyyMMdd}_hibernate.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!--<appender name="db_migration" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<encoder>-->
            <!--<pattern>[%5level] %date [%thread] %logger{10} [%file : %line] %msg%n</pattern>-->
        <!--</encoder>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<fileNamePattern>${ipstore.logs.dir:-../logs}/%d{yyyyMMdd}_db_migration.log</fileNamePattern>-->
            <!--<maxHistory>30</maxHistory>-->
        <!--</rollingPolicy>-->
    <!--</appender>-->

    <logger name="ipstore" additivity="false">
        <appender-ref ref="application"/>
    </logger>

    <logger name="org.hibernate" additivity="false">
        <appender-ref ref="hibernate"/>
    </logger>

    <!--<logger name="com.googlecode.flyway" additivity="false">-->
        <!--<appender-ref ref="db_migrations"/>-->
    <!--</logger>-->

    <root level="debug">
        <appender-ref ref="server"/>
    </root>
</configuration>