<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean name="backupDatabaseJobDetails" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="utilits.quartz.BackupDatabaseJob"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="ftpChannel" value-ref="ftpChannel"/>
                <entry key="databaseDir" value="${ipstore.database.dir:.}"/>
            </map>
        </property>
    </bean>

    <bean id="backupDatabaseCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="backupDatabaseJobDetails"/>
        <property name="cronExpression" value="${cron.backup.database}"/>
    </bean>

    <bean name="passwordStatusJobDetails" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="utilits.quartz.PasswordStatusJob"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="equipmentService" value-ref="equipmentService"/>
                <entry key="oldDays" value="${password_status.old.days}"/>
                <entry key="needUpdateDays" value="${password_status_need_update.days}"/>
            </map>
        </property>
    </bean>

    <bean id="passwordStatusCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="passwordStatusJobDetails"/>
        <property name="cronExpression" value="${cron.password.status}"/>
    </bean>

    <bean name="telnetStatusJobDetails" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="utilits.quartz.TelnetStatusJob"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="equipmentService" value-ref="equipmentService"/>
                <entry key="gsTypePrefixes" value="${telnet.gstype.prefixes}"/>
                <entry key="apTypePrefixes" value="${telnet.aptype.prefixes}"/>
                <entry key="port" value="${telnet.port}"/>
                <entry key="timeout" value="${telnet.timeout}"/>
            </map>
        </property>
    </bean>

    <bean id="telnetStatusCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="telnetStatusJobDetails"/>
        <property name="cronExpression" value="${cron.telnet.status}"/>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="backupDatabaseCronTrigger"/>
                <ref bean="passwordStatusCronTrigger"/>
                <ref bean="telnetStatusCronTrigger"/>
            </list>
        </property>
    </bean>

</beans>