<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    <http auto-config="true" use-expressions="true">
        <!-- home -->
        <intercept-url pattern="/ipstore/"                                  access="isFullyAuthenticated()"/>
        <!-- contact -->
        <intercept-url pattern="/ipstore/contact"                           access="isFullyAuthenticated()"/>
        <!-- monitoring -->
        <intercept-url pattern="/monitoring**"                              access="hasRole('ROLE_ROOT')"/>
        <!-- generate password -->
        <intercept-url pattern="/ipstore/generate_password"                 access="isFullyAuthenticated()"/>
        <!-- actions -->
        <intercept-url pattern="/ipstore/actions"                           access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/actions/view/*"                    access="hasRole('ROLE_ROOT')"/>
        <!-- changes -->
        <intercept-url pattern="/ipstore/changes"                           access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/changes_types"                     access="hasRole('ROLE_ROOT')"/>
        <!-- change password and user info -->
        <intercept-url pattern="/ipstore/mustchangepassword"                access="hasRole('ROLE_ANONYMOUS')"/>
        <intercept-url pattern="/ipstore/changepassword"                    access="isFullyAuthenticated()"/>
        <intercept-url pattern="/ipstore/changeuserinfo"                    access="isFullyAuthenticated()"/>
        <!-- lucene index -->
        <intercept-url pattern="/ipstore/rebuild"                           access="hasRole('ROLE_ROOT')"/>
        <!-- equipment -->
        <intercept-url pattern="/ipstore/equipment"                         access="hasRole('ROLE_EQUIPMENT_VIEW')"/>
        <intercept-url pattern="/ipstore/equipment/view/*"                  access="hasRole('ROLE_EQUIPMENT_VIEW')"/>
        <intercept-url pattern="/ipstore/equipment/load_config/*"           access="hasRole('ROLE_EQUIPMENT_VIEW')"/>
        <intercept-url pattern="/ipstore/equipment/add"                     access="hasRole('ROLE_EQUIPMENT_EDIT')"/>
        <intercept-url pattern="/ipstore/equipment/save"                    access="hasRole('ROLE_EQUIPMENT_EDIT')"/>
        <intercept-url pattern="/ipstore/equipment/edit/*"                  access="hasRole('ROLE_EQUIPMENT_EDIT')"/>
        <intercept-url pattern="/ipstore/equipment/delete/*"                access="hasRole('ROLE_EQUIPMENT_EDIT')"/>
        <intercept-url pattern="/ipstore/equipment/activate/*"              access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/equipment/export"                  access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/equipment/import"                  access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/equipment/activate_no_expired/*"   access="hasRole('ROLE_ROOT')"/>
        <!-- accounts -->
        <intercept-url pattern="/ipstore/accounts"                          access="hasRole('ROLE_ACCOUNT_VIEW')"/>
        <intercept-url pattern="/ipstore/accounts/import"                   access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/accounts/view/*"                   access="hasRole('ROLE_ACCOUNT_VIEW')"/>
        <intercept-url pattern="/ipstore/accounts/delete/*"                 access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/accounts/block/*"                  access="hasRole('ROLE_ACCOUNT_EDIT')"/>
        <intercept-url pattern="/ipstore/accounts/unblock/*"                access="hasRole('ROLE_ACCOUNT_EDIT')"/>
        <intercept-url pattern="/ipstore/accounts/activate/*"               access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/accounts/edit/*"                   access="hasRole('ROLE_ACCOUNT_EDIT')"/>
        <intercept-url pattern="/ipstore/accounts/add"                      access="hasRole('ROLE_ACCOUNT_EDIT')"/>
        <intercept-url pattern="/ipstore/accounts/export"                   access="hasRole('ROLE_ROOT')"/>
        <!-- users -->
        <intercept-url pattern="/ipstore/users"                             access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/users/view/*"                      access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/users/block/*"                     access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/users/unblock/*"                   access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/users/edit/*"                      access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/users/add"                         access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/users/reset/*"                     access="hasRole('ROLE_ROOT')"/>
        <!-- communigate -->
        <intercept-url pattern="/ipstore/communigate"                       access="hasRole('ROLE_COMMUNIGATE_VIEW')"/>
        <intercept-url pattern="/ipstore/communigate/view/*"                access="hasRole('ROLE_COMMUNIGATE_VIEW')"/>
        <intercept-url pattern="/ipstore/communigate/delete/*"              access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/communigate/block/*"               access="hasRole('ROLE_COMMUNIGATE_EDIT')"/>
        <intercept-url pattern="/ipstore/communigate/unblock/*"             access="hasRole('ROLE_COMMUNIGATE_EDIT')"/>
        <intercept-url pattern="/ipstore/communigate/activate/*"            access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/communigate/edit/*"                access="hasRole('ROLE_COMMUNIGATE_EDIT')"/>
        <intercept-url pattern="/ipstore/communigate/add"                   access="hasRole('ROLE_COMMUNIGATE_EDIT')"/>
        <intercept-url pattern="/ipstore/communigate/import"                access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/ipstore/communigate/export"                access="hasRole('ROLE_ROOT')"/>
        <!-- phone capacity -->
        <intercept-url pattern="/ipstore/capacity"                          access="hasRole('ROLE_CAPACITY_VIEW')"/>
        <intercept-url pattern="/ipstore/capacity/edit/*"                   access="hasRole('ROLE_CAPACITY_EDIT')"/>
        <intercept-url pattern="/ipstore/capacity/number/view/*"            access="hasRole('ROLE_CAPACITY_VIEW')"/>
        <intercept-url pattern="/ipstore/capacity/number/edit/*"            access="hasRole('ROLE_CAPACITY_EDIT')"/>
        <intercept-url pattern="/ipstore/capacity/*/add"                    access="hasRole('ROLE_CAPACITY_EDIT')"/>
        <intercept-url pattern="/ipstore/capacity/add"                      access="hasRole('ROLE_CAPACITY_EDIT')"/>
        <intercept-url pattern="/ipstore/capacity/number/reserve/*"         access="hasRole('ROLE_CAPACITY_MANAGER')"/>
        <intercept-url pattern="/ipstore/capacity/number/unreserve/*"       access="hasRole('ROLE_CAPACITY_MANAGER')"/>
        <intercept-url pattern="/ipstore/capacity/number/free/*"            access="hasRole('ROLE_CAPACITY_EDIT')"/>
        <intercept-url pattern="/ipstore/capacity/number/sell/*"            access="hasRole('ROLE_CAPACITY_EDIT')"/>
        <intercept-url pattern="/ipstore/capacity/number/test/*"            access="hasRole('ROLE_CAPACITY_EDIT')"/>
        <intercept-url pattern="/ipstore/capacity/number/transfer/*"        access="hasRole('ROLE_CAPACITY_EDIT')"/>

        <form-login login-page="/ipstore/login" default-target-url="/ipstore/"
                    authentication-failure-handler-ref="authenticationFailureHandler"/>
        <logout logout-success-url="/ipstore/logout"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref='userDetailsService'>
            <password-encoder ref="passwordEncoder">
                <salt-source user-property="username"/>
            </password-encoder>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="passwordEncoder"
                class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
        <beans:constructor-arg value="256"/>
    </beans:bean>

    <beans:bean id="authenticationFailureHandler"
                class="utilits.controller.users.CustomAuthenticationFailureHandler">
        <beans:property name="defaultFailureUrl" value="/ipstore/loginfailed"/>
    </beans:bean>

</beans:beans>