<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-ftp="http://www.springframework.org/schema/integration/ftp"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/integration/ftp
          http://www.springframework.org/schema/integration/ftp/spring-integration-ftp.xsd
          http://www.springframework.org/schema/integration
          http://www.springframework.org/schema/integration/spring-integration.xsd">

    <bean id="ftpSessionFactory"
          class="org.springframework.integration.ftp.session.DefaultFtpSessionFactory">
        <property name="host" value="${ftp.host}"/>
        <property name="port" value="${ftp.port}"/>
        <property name="username" value="${ftp.username}"/>
        <property name="password" value="${ftp.password}"/>
        <property name="clientMode" value="${ftp.clientMode}"/>
        <property name="fileType" value="${ftp.fileType}"/>
        <property name="bufferSize" value="${ftp.bufferSize}"/>
    </bean>

    <int:channel id="ftpChannel"/>

    <int-ftp:outbound-channel-adapter id="ftpOutbound"
                                      channel="ftpChannel"
                                      session-factory="ftpSessionFactory"
                                      remote-directory="/exchange"/>
    <!--remote-file-separator="/"-->
    <!--charset="UTF-8"-->
    <!--auto-create-directory="true"-->
    <!--remote-directory-expression="headers.['remote_dir']"-->
    <!--temporary-remote-directory-expression="headers.['temp_remote_dir']"-->
    <!--filename-generator="fileNameGenerator"/>-->
</beans>