<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID"
         version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/ipstore/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <security-constraint>
        <display-name>Import equipment information</display-name>
        <web-resource-collection>
            <web-resource-name>import</web-resource-name>
            <url-pattern>/ipstore/import</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Admin can import equipment information</description>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>View equipment information</display-name>
        <web-resource-collection>
            <web-resource-name>view</web-resource-name>
            <url-pattern>/ipstore/view</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>User and admin can view equipment information</description>
            <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <description>Administration role</description>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description>User role</description>
        <role-name>user</role-name>
    </security-role>
    
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/login-failed.html</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
